*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#111;
    font-family:Arial, sans-serif;
}

.container{
    display:flex;
    width:90vw;
    gap:15px;
}

.card{
    height:80vh;
    flex:0.5;
    border-radius:30px;
    background-size:cover;
    background-position:center;
    position:relative;
    cursor:pointer;
    transition:flex 0.6s ease;
}

.card.active{
    flex:5;
}

.card h3{
    position:absolute;
    bottom:20px;
    left:20px;
    color:#fff;
    font-size:24px;
    opacity:0;
    transition:opacity 0.3s ease;
}

.card.active h3{
    opacity:1;
}